@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url(academicons.min.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    font-family: 'Courier Prime', monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
	/* Add gray gradient background */
    /* background: linear-gradient(to bottom,#95a3a69a, #ffffff);  */
}

header {
    text-align: center;
    padding-top: 20px; /* Add padding to the top of the header */
    margin-bottom: 0; /* Add margin to the bottom of the header */
	/* color: #d8dcd6; gray; */
}

footer {
    text-align: center;
    padding-top: 20px; /* Add padding to the top of the header */
    margin-bottom: 0; /* Add margin to the bottom of the header */
	color: #d8dcd6; 
	/* color: #88bbf1;  */
}


main {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    max-width: 700px; /* Adjust the max-width as needed */
    margin: 0 auto;
    padding-top: 0; /* Add padding to the top of the main section */
}

nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
	gap: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
	color: #5b7c99;/* #0485d1 gray;*/
}

a {
    /* color: #0485d1;  */
    /* color: #5b7c99; #0485d1 Change color of hyperlinks */
    /* color: #1f77b4;  */
    color: #4185b5; 
	text-decoration: none;
}

a:hover {
	/* color: #0485d1; */
	/* color: #1f77b4; */
	/* color: #d62728; */
	color: #ca3131;
    /* color: #a2cffe;  */
}



.justify-text {
    text-align: justify;
}

.contact-list {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
}

.contact-list li {
    margin: 10px 0; /* Add some space between the items */
}

.contact-list li i {
    margin-right: 10px; /* Add some space between the icon and the text */
}



.about-section img{
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	/* border-radius: 10px; */
	/* margin: 20px 0; */
}


.research-section img{
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	/* border-radius: 10px; */
	/* margin: 20px 0; */
}

.iconai {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

	.iconai:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		text-transform: none !important;
		font-family: Academicons;
		font-weight: 400;
}

	.iconai > .label {
		display: none;
	}

	.iconai:before {
		line-height: inherit;
	}

	.iconai.solid:before {
		font-weight: 900;
	}


/* General padding for all devices */
.research-section {
    padding: 10px; /* Adjust this value as needed */
}

/* Additional padding for smaller screens */
@media (max-width: 600px) {
    .research-section {
        padding: 10px; /* Adjust this value as needed */
    }
}

/* General padding for all devices */
.about-section {
    padding: 10px; /* Adjust this value as needed */
}

/* Additional padding for smaller screens */
@media (max-width: 600px) {
    .about-section {
        padding: 10px; /* Adjust this value as needed */
    }
}

/* General padding for all devices */
.home-section {
    padding: 10px; /* Adjust this value as needed */
}

/* Additional padding for smaller screens */
@media (max-width: 600px) {
    .home-section {
        padding: 10px; /* Adjust this value as needed */
    }
}